<div class="leftPanel">
        @* DXCOMMENT: Configure the left panel's menu *@
    @Html.DevExpress().NavBar(settings => {
    settings.Name = "LeftNavBar";
    settings.AutoCollapse = true;
    settings.EnableAnimation = true;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.ControlStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.ControlStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.Groups.Add(group => {
        group.Text = "Ýþlemler";



    });
    settings.Groups.Add(group => {
        group.Text = "Sabitler";
        group.Items.Add(asd =>
        {
            asd.Text = "Depo Ýþlemleri";
            asd.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Depo", Action = "Index" });
        });

        group.Items.Add(asd =>
        {
            asd.Text = "Grup Ýþlemleri";
            asd.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Grup", Action = "Index" });
        });

        group.Items.Add(asd =>
        {
            asd.Text = "Ölçü Birim Ýþlemleri";
            asd.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "OlcuBirim", Action = "Index" });
        });

        group.Items.Add(asd =>
        {
            asd.Text = "Malzeme Ýþlemleri";
            asd.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Malzeme", Action = "Index" });
        });
    });
}).GetHtml()
</div>